<h1>Mind</h1>

<!-- <button type="button" class="btn btn-primary" onClick="graphMind()">Graph Mind</button> -->
<button type="button" class="btn btn-primary" onClick="beginMindGraph()">Graph Mind</button>

<p>
	<div class="attention">Attention<br><div id="attention"></div></div> 
	<div class="meditation">Meditation<br><div id="meditation"></div></div> 
</p>
